<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<!-- 配置sessionFactory -->
<session-factory>
	<!-- 连接数据库的基本信息:驱动类名称/url/用户名/密码 -->
	<property name="hibernate.connection.driver_class">
		com.mysql.jdbc.Driver
	</property>
	<property name="hibernate.connection.url">
		jdbc:mysql:///zhaopin
	</property>
	<property name="hibernate.connection.username">root</property>
	<property name="hibernate.connection.password">1234</property>
	<!-- 配置连接的数据库方言: 根据数据库底层生成不同的SQL-->
	<property name="hibernate.dialect">
		org.hibernate.dialect.MySQLDialect
	</property>

	<!-- 可选配置: -->
	<!-- 显示SQL语句 -->
	<!-- <property name="hibernate.show_sql">true</property> -->
	<!-- 格式化SQL语句 -->
	<!-- <property name="hibernate.format_sql">true</property> -->
	<!-- hibernate的映射文件生成DDL -->
	<property name="hibernate.hbm2ddl.auto">update</property>
	
	<!-- 配置映射 -->
	<mapping resource="top/dreamrdk/domain/LiePinInfo.hbm.xml" />

</session-factory>
</hibernate-configuration>